<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div fxHide.xs class="logoContainer">
        <img id="logo" routerLink="" src="./assets/images/logo.png" alt="artarckRC logo">
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex">
        <mat-form-field>
            <input matInput type="search" [(ngModel)]="searchTerm" (keyup.enter)="search()" placeholder="Press enter to search">
        </mat-form-field>
    </div>
    <button mat-icon-button>
        <mat-icon>search</mat-icon>
    </button>
    <!-- hide this if the screen is extra small, which are 5'5 inches and below -->
    <!-- <button fxHide.gt-md mat-raised-button class="ml-2" color="accent">
        <a routerLink="/categories">
            <b>Categories</b>
        </a>
    </button> -->
    <!-- show this if the screen is extra small, which are 5'5 inches and below -->
        <button routerLink="/categories" mat-icon-button>
                <mat-icon>more_vert</mat-icon>
        </button>

    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <a fxLayout fxLayoutGap="10px" class="navigation-items">
            <button *ngIf="!token" mat-raised-button [matMenuTriggerFor]="menu">
                <mat-icon>keyboard_arrow_down</mat-icon>
                <span>Account</span>
            </button>
            <!-- display users name here as to account -->
            <button *ngIf="data.user" mat-raised-button [matMenuTriggerFor]="menu">
                <mat-icon>keyboard_arrow_down</mat-icon>
                <span>{{data.user.name}}</span>
            </button>
            <mat-menu #menu="matMenu">
                <button *ngIf="token" mat-menu-item routerLink="profile">
                    <mat-icon>person_pin</mat-icon>Profile</button>
                    
                <button *ngIf="token" mat-menu-item (click)="logout()">
                    <mat-icon color="warn">power_settings_new</mat-icon>Logout</button>

                <button color="primary" *ngIf="!token" mat-menu-item routerLink="register">
                    <mat-icon>person_add</mat-icon>Register</button>

                <button *ngIf="!token" mat-menu-item routerLink="login">
                    <mat-icon>whatshot</mat-icon>Login</button>
            </mat-menu>
            <button mat-icon-button>
                <mat-icon>shopping_cart</mat-icon>
            </button>
        </a>
    </div>
</mat-toolbar>