section {
    height: 100%;
}
mat-form-field {
    width: 100%;
}

.toneColor {
    color: gainsboro;
}
#extendSize {
    width: 100%;
}
a {
    text-decoration: none;
}

/* a:hover {
    color: aquamarine;
} */