<section id="home">
  <div class="container-fluid d-none d-md-block">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/images/banner0.jpg" alt="bannerA" class="item" >
      </ng-template>
      <!-- <ng-template ngbSlide>
        <img src="assets/images/banner1.jpg" alt="bannerB" class="item" >
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/banner2.jpg" alt="bannerC" class="item" >
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/banner3.jpg" alt="bannerD" class="item" >
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/banner5.jpg" alt="bannerE" class="item" >
      </ng-template> -->
      <ng-template ngbSlide>
        <img src="assets/images/banner7.jpg" alt="bannerF" class="item" >
      </ng-template>
    </ngb-carousel>
  </div>
</section>