<!-- <div fxFlex fxLayout fxLayoutAlign="flex-end center" class="left-space">
    <p>Made with <mat-icon>favorite</mat-icon> by yemiOdetola </p>
 </div> -->
<!-- <mat-toolbar color="primary">
    <div fxLayout fxLayoutAlign="space-around center">
        <img id="logo" src="./assets/images/logo.png" alt="artarckClone logo">
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end center">
        <p class="lead text-center">Copyright &copy; 2018 artarck</p>
    </div>
</mat-toolbar> -->

<footer class="secondary-footer">

    <div class="container">

        <div class="row">

            <div class="col-sm-6">
                <p class="copy-right">&#169; Copyright
                    <b>OnukInk</b>
                </p>
            </div>

            <div class="col-sm-6">
                <ul class="secondary-footer-menu">
                    <li>
                        <a routerLink="/profile">My Account</a>
                    </li>
                    <li>
                        <a routerLink="/login">Login</a>
                    </li>
                    <li>
                        <a routerLink="/signup">Signup</a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h6 class="text-center">
                    <a href="#"><i class="ml-2 fa footer-logo fa-3x fa-facebook-official"></i></a>
						<a href="#"><i class="ml-2 footer-logo fa fa-3x fa-twitter"></i></a>
						<a href="#"><i class="ml-2 footer-logo fa fa-3x fa-google-plus "></i></a>
						<a href="#"><i class="ml-2 footer-logo fa fa-3x fa-github"></i></a>
						<a href="#"><i class="ml-2 footer-logo fa fa-3x fa-stack-overflow"></i></a>
                </h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 footer-maker">
                <h6 class="text-center">Made with <i class="fa fa-heart"></i> by <a href="https://github.com/blarcmann" target="_blank">yemiOdetola</a></h6>
            </div>
        </div>

    </div>

</footer>