<section id="settings">
  <div class="container pb-5 pt-5">
    <h4 class="display-4">My Account Settings</h4>
    <hr>
    <app-message></app-message>
    <div *ngIf="!currentSettings" class="text-center display-3 mt-5">
      <mat-spinner></mat-spinner>
    </div>
    <div class="col-lg-5 offset-lg-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3></h3>
          </mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <br>
        <mat-card-content>
          <form>
            <mat-form-field>
              <input type="text" name="name" matInput placeholder="New Name" [(ngModel)]="currentSettings.name">
            </mat-form-field>
            <br>
            <mat-form-field>
              <input type="email" name="email" matInput placeholder="New Email address" [(ngModel)]="currentSettings.email">
            </mat-form-field>
            <br>
            <br>
            <mat-checkbox [(ngModel)]="currentSettings.isSeller" name="isSeller" color="accent">Is Seller</mat-checkbox>
            <br>
            <mat-form-field>
              <input type="password" name="newPwd" matInput placeholder="New Password" [(ngModel)]="currentSettings.newPwd" required>
            </mat-form-field>
            <br>
            <mat-form-field>
              <input type="password" name="confirmPwd" matInput placeholder="Please, confirm your password" [(ngModel)]="currentSettings.confirmPwd">
            </mat-form-field>

            <br>
            <button type="button" mat-raised-button color="primary" (click)="update()" [disabled]="btnDisabled">Update</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
<app-footer></app-footer>