<mat-nav-list>
    <img src="./assets/images/logo.png" alt="logoArtarck" id="logo" class=" ml-5 mb-5">

    <!-- <div *ngIf="!data.user" class="m-auto">
        <div class="content-center display-3 mt-4">
            <mat-spinner></mat-spinner>
        </div>
    </div> -->
    <div class="user-data" *ngIf="token">
        <img [src]="data.user.picture" alt="userImage" class="rounded-circle image user-image">
        <h3 class="user-name ml-4" id="name"> {{ data.user.name }} </h3>
        <p class="user-email ml-5" id="email">{{data.user.email}}
            <mat-icon color="accent">check_circle_outline</mat-icon>
        </p>
    </div>

    <mat-list-item *ngIf="token">
        <button mat-raised-button class="xtendBtn">
            <span class="mr-3">My cart</span>
            <mat-icon matBadge="17">shopping_cart</mat-icon>
        </button>
    </mat-list-item>
    <div class="mt-5">
        <hr>
    </div>
    <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!token" class="mt-5">
        <mat-icon>whatshot</mat-icon>
        <span class="nav-caption ml-3">Login</span>
    </a>
    <a mat-list-item routerLink="/register" (click)="onClose()" *ngIf="!token">
        <mat-icon>person_add</mat-icon>
        <span class="nav-caption ml-3">Register</span>
    </a>
    <a mat-list-item routerLink="/profile" (click)="onClose()" *ngIf="token">
        <mat-icon>person_pin</mat-icon>
        <span matBadge="2" class="nav-caption ml-3" matBadgeOverlap="false">Profile</span>
    </a>
    <a mat-list-item routerLink="/logout" (click)="logout()" *ngIf="token">
        <mat-icon color="warn">power_settings_new</mat-icon>
        <span class="nav-caption ml-3" color="warn">Logout</span>
    </a>
    <div class="mt-2">
        <hr>
    </div>

</mat-nav-list>