<section id="postProduct">
  <div class="container p-5">
    <h4 class="display-4">Post a product for sale</h4>
    <hr>
    <app-message></app-message>
    <h1 *ngIf="!categories" class="text-center display-3 mt-5">
      <mat-spinner></mat-spinner>
    </h1>
  </div>

  <div *ngIf="categories" class="col-md-8 offset-md-2">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>Product details</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <br>
      <mat-card-content>
        <form>
          <mat-form-field>
            <input type="text" name="title" matInput placeholder="Product title" [(ngModel)]="product.title" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input type="number" name="price" matInput placeholder="Product price" [(ngModel)]="product.price" required>
          </mat-form-field>
          <br>
          <!-- <mat-form-field>
            <mat-select placeholder="Select Category" [(ngModel)]="product.categoryId">
              <mat-option *ngFor="let category  of categories" [value]="category._id" required>
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->
          <div class="form-group">
            <label>Category</label>
            <select name="categoryId" [(ngModel)]="product.categoryId" class="custom-select bgCategory">
              <option *ngFor="let category of categories" class="bgCategoryOptions" [value]="category._id">
                {{category.name}}
              </option>
            </select>
          </div>
          <br>
          <mat-form-field>
            <textarea matInput [(ngModel)]="product.description" name="description" rows="7" placeholder="Describe the product" required></textarea>
          </mat-form-field>
          <br>
          <div class="form-group">
            <label>Upload Image</label>
            <input type="file" name="file" accept="image/*" class="form-control-file" (change)="fileChange($event)" required>
          </div>
          <br>
          <button type="button" mat-raised-button color="primary" (click)="post()" [disabled]="btnDisabled">Post Product</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</section>